.comment {
    display: flex;
    padding: 8px;
    gap: 16px;
    width: 100%;
    background: var(--color-elem-first);
    box-sizing: border-box;
    border-radius: 16px;
    min-height: 120px;

    &__box {
        display: flex;
        padding: 2px;
        gap: 8px;
        &>span {
            font-size: 12px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background: var(--color-elem-second);
        padding: 8px;
        width: 100%;
        border-radius: 16px;
    }
}
