.fullscreen-button {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 100%;
    background: $color-elem-first;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;

    &:hover {
        background: $color-elem-first-hover;
    }
}
