.shape {
    background: $color-main-light;
    border-radius: $radius;
    border: 2px solid $color-elem-first;
    min-width: 380px;
    max-width: 594px;
    overflow: hidden;
    display: inline-flex;

    &__participant {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-radius: $radius;
        border: 2px solid $color-elem-first;
        padding: 10px;
        margin: 5px;
    }

    &__wrapper {
        padding: 22px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__title {
        text-align: center;

        &_big {
            margin: 20px 0 30px;
        }
    }

    &__link {
        margin-top: 16px;
    }
}
