.text {
    font-family: $font;
    font-size: 14px;
    line-height: 1.2;
    color: $color-text-dark;

    &__main {
        @extend .text;
        display: block;
        max-width: 75%;
        font-size: 32px;
        color: $color-text-light;
    }

    &__big {
        font-size: 18px;
    }
      
    &__comment {
        display: block;
        @extend .text;
        max-width: 100%;
        color: $color-text-light;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 120px;
    }

    &_error {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 40px;
        color: $color-text-dark;
    }
}
