.text {
    font-family: $font;
    font-size: 14px;
    line-height: 1.2;
    color: $color-text-dark;

    &__main {
        @extend .text;
        display: block;
        max-width: 80%;
        font-size: 32px;
        color: $color-text-light;
    }
}
