.text {
    font-family: $font;
    font-size: 14px;
    line-height: 1.2;
    color: $color-text-dark;

    &__main {
        @extend .text;
        display: block;
        max-width: 75%;
        font-size: 32px;
        color: $color-text-light;
        opacity: .7;
        padding-bottom: 120px;

        @media screen and (max-width: 768px) {
            & {
                font-size: 24px;
            }
        }
    }

    &__big {
        font-size: 18px;
    }

    &__comment {
        display: block;
        @extend .text;
        max-width: 100%;
        color: $color-text-dark;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 120px;
    }
}
