.title {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    color: $color-text-dark;

    &_main {
        font-size: 28px;
    }

    &_section {
        font-size: 22px;
    }

    &_block {
        font-size: 18px;
    }

    &__main {
        @extend .title;
        display: block;
        max-width: 75%;
        font-size: 48px;
        color: $color-text-light;
    }

    &__comment {
        @extend .title;
        display: flex;
        color: $color-text-light;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    &_error {
        font-weight: 500;
        font-size: 60px;
        margin-bottom: 20px;
        color: $color-text-dark;
    }

    &_centered {
        text-align: center;
    }
}
