@function HexToRGBA($hex, $alpha) { // #{HexToRGBA($color-main-dark, 0.3)}
    @return rgba(red($hex), green($hex), blue($hex), $alpha);
}

$font: 'Roboto', sans-serif;
$font-second: 'VikingTYGRA', sans-serif;

$transition: .2s linear;

$radius: 20px;
$radius-small: 8px;

$color-main-dark: #1E1F20;
$color-main-light: #FFFFFF;

$color-text-dark: #151515;
$color-text-middle: #969696;
$color-text-light: #FFFFFF;

$color-elem-first: #FCBA09;
$color-elem-first-hover: #BE8F21;

$color-elem-second: #3D3D3D;
$color-elem-second-hover: #525252;
$color-elem-second-active: #2E2E2E;

$color-additional-first: #DADADA;
$color-additional-second: #525252;
$color-additional-third: #969696;

$color-warning: #DF3C3C;
$color-success: #42c70c;
